.env
service-account.json
gdrive-service-account.json
.git
.gitignore
environment.yaml
Makefile
README.md
LICENSE
deps/requirements.in
deps/dev-requirements.in
deps/dev-requirements.txt
notebooks/
scripts/
pipeline/data/**/*.csv
pipeline/data/**/*.json
pipeline/data/**/*.kml
pipeline/data/**/*.aspx
pipeline/logs/*
pipeline/bfro_mini_warehouse/logs/*
pipeline/bfro_mini_warehouse/target/*
pipeline/bfro_mini_warehouse/README.md
pipeline/bfro_mini_warehouse/.user.yml
**/__pycache__/
.dvc
.github
.ruff_cache
.vscode
