.env
service-account.json
gdrive-service-account.json
.git
.gitignore
environment.yaml
Makefile
README.md
LICENSE
deps/requirements.in
deps/dev-requirements.in
deps/dev-requirements.txt
notebooks/
scripts/
pipeline/__pycache__/
pipeline/scripts/__pycache__/
pipeline/data/*
pipeline/bfro_mini_warehouse/logs/
pipeline/bfro_mini_warehouse/target/
pipeline/bfro_mini_warehouse/README.md
pipeline/scraper/__pycache__/
pipeline/scraper/bfro_scrape/__pycache__/