__pycache__/
.ipynb_checkpoints
data/
.env
src/
.vscode
visualizations
safe/
data_new
pipeline/scraper/bfro_scrape/new_reports.csv
pipeline/scraper/bfro_scrape/new_reports.json
logs
data_old
test.csv
data_backup
service-account.json
gdrive-service-account.json
run-docker.sh
